<div class="col-12 container">
    <nb-card>
      <nb-card-header>
        <h1 id="title" class="title">تغییر رمز</h1>
        <p class="sub-title">لطفا یک رمز جدید وارد کنید</p>
      </nb-card-header>
      <nb-card-body>
        <form
          [formGroup]="changepassForm"
          (ngSubmit)="submit(changepassForm.controls['confirmPassword']?.value)"
        >
          <div class="form-group">
            <label for="newPassword" class="label">رمز جدید:</label>
            <input
              type="newPassword"
              nbInput
              formControlName="newPassword"
              fullWidth
              id="newPassword"
              placeholder="رمز جدید"
            />
          </div>
          <div class="form-group">
            <label for="confirmPassword" class="label">تکرار رمز جدید:</label>
            <input
              type="confirmPassword"
              nbInput
              formControlName="confirmPassword"
              fullWidth
              id="confirmPassword"
              placeholder="تکرار رمز"
            />
          </div>
  
          <button type="submit" nbButton status="primary">ارسال</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
  