<div class="col-12 container">
    <nb-card>
      <nb-card-header>
        <h1 id="title" class="title">فراموشی رمز</h1>
        <p class="sub-title">رمز یکبار مصرف به ایمیل شما ارسال میشود</p>
      </nb-card-header>
      <nb-card-body>
        <form
          [formGroup]="form"
          (ngSubmit)="submit(form.controls['user_email'].value)"
        >
          <div class="form-group">
            <div>
            </div>
            <label for="Email" class="label">ایمیل</label>
            <input
              type="email"
              nbInput
              formControlName="user_email"
              fullWidth
              id="email"
              placeholder="ایمیل"
            />
          </div>
  
          <button type="submit" fullWidth [disabled]="!form.valid" nbButton status="primary">ارسال</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
  