<div class="col-12 container">
    <nb-card>
      <nb-card-header>
        <h1 id="title" class="title">رمز چهار رقمی را وارد کنید</h1>
        <p class="sub-title">رمز به ایمیل شما ارسال شده است</p>
      </nb-card-header>
      <nb-card-body>
        <form
          [formGroup]="confirmForm"
          (ngSubmit)="submit(confirmForm.controls['password'].value)"
        >
          <div class="form-group">
            <label for="Email" class="label">رمز</label>
            <input
              type="password"
              nbInput
              formControlName="password"
              fullWidth
              id="password"
              placeholder="رمز"
            />
          </div>
  
          <button type="submit" nbButton status="primary">ارسال</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
  