<p>uploader works!</p>
<form [formGroup]="form" (ngSubmit)="submit(form.value)">
    <div class="d-flex justify-content-around">
      <section class="upload_selected-category">
        <input
          type="text"
          fullWidth
          class="form-control mt-2"
          placeholder="نام محصول"
          formControlName="product_name"
        />
  
        <ng-container *ngIf="form.controls.product_name.touched">
          <p
            class="caption status-danger"
            *ngIf="form.controls.product_name.errors?.required"
          >
            نام محصول الزامی میباشد
          </p>
          <!-- <p
            class="caption status-danger"
            *ngIf="form.errors?.minlength || form.errors?.maxlength"
          >
            نام محصول باید در لیست وححود داشته باشد from
            {{ getConfigValue("form.validation.product_name.minLength") }} to
            {{ getConfigValue("form.validation.product_name.maxLength") }}
            characters
          </p> -->
        </ng-container>
  
        <input
          type="text"
          fullWidth
          formControlName="price"
          class="form-control mt-2"
          placeholder="قیمت"
        />
  
        <ng-container *ngIf="form.controls.price.touched">
          <p
            class="caption status-danger"
            *ngIf="form.controls.price.errors?.required"
          >
            قیمت محصول الزامی میباشد
          </p>
          <!-- <p
            class="caption status-danger"
            *ngIf="form.errors?.minlength || form.errors?.maxlength"
          >
            نام محصول باید در لیست وححود داشته باشد from
            {{ getConfigValue("form.validation.product_name.minLength") }} to
            {{ getConfigValue("form.validation.product_name.maxLength") }}
            characters
          </p> -->
        </ng-container>
        <textarea
          class="mt-2"
          nbInput
          fullWidth
          formControlName="description"
          placeholder="توضیحات"
        ></textarea>
      </section>
      <section class="container upload_selected-img">
        <label for="images" class="drop-container" id="dropcontainer">
          <span class="drop-title">لطفا یک عکس اتخاب کنید</span>
  
          <input
            type="file"
            id="images"
            accept="image/*"
            formControlName="imgUpload"
            required
            (change)="onChange($event)"
          />
        </label>
        <div class="image mt-2 mb-2">
          <img
            id="tb-image"
            width="550"
            height="300"
            *ngIf="imageUrl"
            [src]="imageUrl"
          />
        </div>
        <div *ngIf="file">
          <div class="image mt-2 mb-2"></div>
          <section class="file-info">
            مشخصات فایل:
            <ul>
              <li>نام:&nbsp;&nbsp;&nbsp; {{ fileToUpload.name }}</li>
              <li>نوع:&nbsp;&nbsp;&nbsp; {{ fileToUpload.type }}</li>
              <li>سایز:&nbsp;&nbsp;&nbsp; {{ fileToUpload.size }} bytes</li>
            </ul>
          </section>
  
          <button
            type="submit"
            nbButton
            status="primary"
            (click)="onUpload()"
            style="width: 100%"
          >
            آپلود عکس
          </button>
  
          <section [ngSwitch]="status" class="pt-2">
            <p *ngSwitchCase="'uploading'">⏳ در انتظار آپلود عکس...</p>
            <p *ngSwitchCase="'success'">✅ انجام شد!</p>
            <p *ngSwitchCase="'fail'">❌ با خطا مواجه شد!</p>
            <p *ngSwitchDefault>😶 در انتظار آپلود ...</p>
          </section>
        </div>
      </section>
    </div>
    <hr />
    <footer class="d-flex justify-content-end">
      <button [disabled]="!form.valid" type="submit" nbButton status="primary">
        ارسال
      </button>
    </footer>
  </form>
  